@import "./reset.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
}
header .logo {
  position: relative;
  display: inline-flex;
  color: #333;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.hobby {
  position: absolute;
  top: 120px;
  left: 130px;
  color: #333;
  font-size: 1.5em;
  font-weight: 500;
}
.rightSide {
  display: flex;
}
.btns {
  position: relative;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.btns ion-icon {
  font-size: 1.5em;
  color: #333;
}
.btns .menuicon ion-icon {
  font-size: 3em;
}
.btns ion-icon:nth-child(2) {
  display: none;
}
.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  mix-blend-mode: screen;
}
.main .favorites-text {
  position: relative;
  z-index: 3;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.favorites-summer {
  position: relative;
  bottom: 50px;
  right: 230px;
}
.favorites-forest {
  position: relative;
  bottom: 140px;
  left: 360px;
}
.favorites-color {
  position: relative;
  right: 230px;
}
.favorites-movie {
  position: relative;
  bottom: 90px;
  left: 360px;
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  background-color: #fff;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  text-decoration: none;
  color: #333;
  padding: 5px 20px;
  border-radius: 40px;
}
.navigation li a:hover {
  background: #333;
  color: #fff;
}
.intro {
  position: absolute;
  display: flex;
  top: 200px;
  left: 500px;
}
.notebook {
  position: relative;
  display: flex;
  width: 800px;
  height: 520px;
}
.profile {
  position: absolute;
  display: flex;
  top: 90px;
  left: 462px;
  width: 256px;
  height: 248px;
}
.instagram {
  position: absolute;
  display: flex;
  width: 300px;
  height: 400px;
  top: 40px;
  left: 440px;
}
.iphone {
  position: absolute;
  display: flex;
  top: 50px;
  right: 1100px;
  width: 230px;
  height: 400px;
}
.isfp {
  position: absolute;
  display: flex;
  top: 90px;
  right: 1113px;
  width: 204px;
  height: 320px;
}
.name {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  top: 70px;
  right: 710px;
}
.name-part {
  position: relative;
  font-size: 40px;
  font-weight: 300;
  top: 10px;
}
.call {
  position: relative;
  top: 20px;
}
.call ion-icon {
  position: relative;
  top: 5px;
  font-size: 20px;
  color: #868e96;
}
.call span {
  position: relative;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #868e96;
}
.email {
  position: relative;
  top: 20px;
}
.email ion-icon {
  position: relative;
  top: 5px;
  font-size: 20px;
  color: #868e96;
}
.email span {
  position: relative;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #868e96;
}
.birth {
  position: relative;
  top: 20px;
}
.birth ion-icon {
  position: relative;
  top: 5px;
  font-size: 20px;
  color: #868e96;
}
.birth span {
  position: relative;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #868e96;
}
.location {
  position: relative;
  top: 20px;
}
.location ion-icon {
  position: relative;
  top: 5px;
  font-size: 20px;
  color: #868e96;
}
.location span {
  position: relative;
  left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #868e96;
}
.movie {
  position: absolute;
  display: flex;
  top: 440px;
  left: 20px;
  height: 350px;
  width: 350px;
}
.film1 {
  position: absolute;
  display: flex;
  top: 435px;
  left: 400px;
  width: 200px;
  height: 200px;
}
.film2 {
  position: absolute;
  display: flex;
  top: 345px;
  left: 600px;
  width: 200px;
  height: 200px;
}
.film3 {
  position: absolute;
  display: flex;
  top: 435px;
  left: 800px;
  width: 200px;
  height: 200px;
}
.film4 {
  position: absolute;
  display: flex;
  top: 525px;
  left: 1000px;
  width: 200px;
  height: 200px;
}
.film5 {
  position: absolute;
  display: flex;
  top: 435px;
  left: 1200px;
  width: 200px;
  height: 200px;
}
.poster1 {
  position: absolute;
  display: flex;
  top: 456px;
  left: 404px;
  width: 192px;
  height: 147px;
}
.poster2 {
  position: absolute;
  display: flex;
  top: 366px;
  left: 604px;
  width: 192px;
  height: 147px;
}
.poster3 {
  position: absolute;
  display: flex;
  top: 456px;
  left: 804px;
  width: 192px;
  height: 147px;
}
.poster4 {
  position: absolute;
  display: flex;
  top: 546px;
  left: 1004px;
  width: 192px;
  height: 147px;
}
.poster5 {
  position: absolute;
  display: flex;
  top: 456px;
  left: 1204px;
  width: 192px;
  height: 147px;
}
.hobby-movie a:hover img {
  transform: scale(2);
  z-index: 1;
}
.narrow {
  position: absolute;
  top: 410px;
  left: 400px;
}
.narrow a {
  position: relative;
}
.narrow ion-icon {
  position: relative;
  top: 3px;
}
